* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cda;
    font-family: "Roboto", sans-serif;
    background-image: url("https://source.unsplash.com/1980x1080/?landscape");
    font-size: 120%;
}
.card {
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
    color: #fff;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 80px);
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #7c7c7c6b;
}
.temp {
    margin: 0;
    margin-bottom: 0.5em;
}
.description {
    text-transform: capitalize;
}
.flex {
    display: flex;
    align-items: center;
}
.error {
    display: none;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.error-message {
    color: red;
    margin-top: 3%;
    /* text-transform: capitalize; */
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    background: #7c7c7c2b;
    border-radius: 20px 20px;
    width: calc(100% - 80px);
}
